* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

:root {
  --primary: #1a0f00;
  --secondary: #d4af37;
  --acent: #8b0000;
  --light: #f5f0e6;
  --dark: #0a0800;
}

body {
  background-color: var(--dark);
  color: var(--light);
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: none
      radial-gradient(
        circle at 20% 30%,
        rgba(212, 175, 55, 0.05) 0%,
        transparent 20%
      ),
    radial-gradient(
      circle at 80% 70%,
      rgba(139, 0, 0, 0.05) 0%,
      transparent 20%
    );
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ================HEADER==================== */
